@import './components/form';
@import './components/animations';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  transition: color 300ms, background-color 300ms;
  overflow-x: hidden;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 160px;
  width: 100%;
  height: 100%;
}

.elements-container {
  display: flex;
}

.left-side,
.right-side {
  display: flex;
  flex-direction: column;
}

.dark-theme {
  filter: invert(1) hue-rotate(180deg);
}

.dark-theme img {
  filter: invert(1) hue-rotate(180deg);
}

.navigation {
  height: 120px;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;

  &__image {
    position: relative;
    min-width: 60px;
    min-height: 60px;
    margin: 10px;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__radiation {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 25%;
    top: 25%;
    border: 1px solid #000;
    border-radius: 50%;
    animation: radiating 1.5s ease-out infinite;
  }

  &__text {
    font-size: 24px;
    margin-left: 20px;
  }
}

.menu {
  display: flex;
  align-items: center;
  font-size: 16px;
  list-style: none;
  margin: 0;

  &__item {
    margin-left: 40px;
    padding-bottom: 10px;
    font-size: 20px;
  }

  &__item:hover:not(:last-child) {
    border-bottom: 2px solid #007bff;
  }
}

.theme-toggle {
  cursor: pointer;

  & img {
    transition: all 0.2s ease-in-out;
    width: 20px;
    height: auto;
    margin: 0 10px;
  }

  & img:hover {
    transform: scale(1.2);
  }
}

.card {
  background-color: #fafafa;
  transition: transform 0.8s;
  position: relative;

  &__header {
    position: absolute;
    top: 0px;
    right: 0;
    width: 100%;
    height: 36px;
    text-align: center;
    padding: 6px 0;
    display: inline-block;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
    z-index: -1;

    &--show {
      animation: appear;
      animation-duration: 0.8s;
      animation-fill-mode: both;
    }
  }

  &__body {
    padding: 0 30px 30px 30px;
  }
}

.bts-list {
  flex: 1;
}

.bts-list {
  .card__body {
    padding: 0px;
  }
}

.bts-list-body {
  transition-timing-function: ease-in;
  transition: 0.2s;

  tr:hover {
    background-color: rgba(0, 0, 0, 0.02);
  }

  .remove:hover {
    cursor: pointer;
  }
}

.thead-light th {
  background-color: #eeeeee !important;
}

.footer {
  margin: 10px 0;
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

@media (max-width: 1200px) {
  .form {
    align-items: center;
    flex-direction: column;

    &__group {
      width: 100%;
    }
  }
  .navigation {
    span,
    li {
      font-size: 14px;
    }
  }

  .logo {
    &__text {
      font-size: 14px;
    }
  }
  .elements-container {
    flex-direction: column;
  }
}

#params {
  text-align: center;
  margin-top: 15px;
}

#params ul li {
  list-style: none;
  white-space: nowrap;
  display: inline-flex;
  margin: 0 40px;
}

.sys-params {
  flex: 0 100%;
} 