* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: border-box;
}

@keyframes appear {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-36px);
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  transition: color 300ms, background-color 300ms;
  overflow-x: hidden;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 180px;
}

.dark-theme {
  filter: invert(1) hue-rotate(180deg);
}

// .dark-theme img{
//   filter: invert(1) hue-rotate(180deg);
// }

.navigation {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 50px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  background-color: #fff; 
  
  a {
    color:inherit;
    text-decoration: none;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  
  &__image {
    position: relative;
    min-width: 60px;
    min-height: 60px;
    margin: 10px;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  h1 {
    font-size: 24px;
    margin-left: 20px;
  }
}

.radiation {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 25%;
  top: 25%;
  border: 1px solid #000;
  border-radius: 50%;
  animation: radiating 1.5s ease-out infinite;
}

.menu {
  display: flex;
  align-items: center; 
  font-size: 16px;
  list-style: none;
  margin: 0;

  &__item {
    margin-left: 40px;
    padding-bottom: 10px;
    font-size: 20px;
  }

  &__item:hover:not {
    border-bottom: 2px solid #007bff;
  }
}

.theme-toggle {
  cursor: pointer;

  & img {
    transition: all .2s ease-in-out;
  }

  & img:hover{
    transform: scale(1.2);
  }
}

.theme-toggle > img {
  width: 20px;
  height: auto;
  margin: 0 10px;
}

.card {
  background-color: #fafafa;
  position: relative;
  transition: transform .8s;
  width: 100%;

  &__header {
    position: absolute;
    top: 0px;
    right: 0;
    width: 100%;
    height: 36px;
    text-align: center;
    padding: 6px 0;
    display: inline-block;
    transition: transform .5s ease-in-out;
    will-change: transform;
    z-index: -1;
  }

  &__body {
    padding: 0 30px 30px 30px;
  }
}

.show {
  animation: appear;
  animation-duration: .8s;
  animation-fill-mode: both;
}

.form-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.form {
  display: flex;
  align-items: flex-end; 
  justify-content: space-between;

  &__group {
    padding-top: 10px;
  }

  &__submit {
    margin-top: 10px;
    width: 120px;
  }
} 

.bts-list {
  .card__body {
    padding: 0;
  }
}

.bts-list-body {
  transition-timing-function: ease-in;
  transition: 0.2s;

  tr:hover {
    background-color: rgba(0, 0, 0, .02);
  }

  .remove:hover {
    cursor: pointer;
  }

}

.thead-light th {
  background-color: #eeeeee !important;
}

.footer {
  margin-top: 10px;
  font-size: 12px;
  font-style: italic;
  display: none;
}

@media (max-width: 747px) {
  .form {
    align-items: center; 
    flex-direction: column;

    &__group {
      width: 100%;
    }
  }
  .navigation{
    span, li {
      font-size: 14px;
    }
  }
}

// The animation - Safari and Chrome
@-webkit-keyframes radiating {
  from {
    transform: scale(1);
    opacity: .4;
  }
  to {
    transform: scale(2.2);
    opacity: 0;
  }
}

@keyframes radiating {
  from {
    transform: scale(1);
    opacity: .4;
  }
  to {
    transform: scale(2.2);
    opacity: 0;
  }
}